:root {
	--sv-color-white: white;
	--sv-color-black: black;
	--sv-color-primary: #2e7d32;
	--sv-color-primary-light: #60ad5e;
	--sv-color-primary-dark: #005005;
	--sv-color-primary-text: #ffffff;

	--sv-color-secondary: #424242;
	--sv-color-secondary-light: #6d6d6d;
	--sv-color-secondary-dark: #1b1b1b;
	--sv-color-secondary-text: #ffffff;
}
