.git
node_modules
.eslint*
.prettier*
.git*
.vscode
README.md
Dockerfile*
docker-compose.*.yml
public
.svelte-kit
build
build-node
build-static

frontend/build-node
frontend/node_modules
frontend/build-static