.git
node_modules
.eslint*
.prettier*
.git*
.vscode
README.md
Dockerfile*
docker-compose.*.yml
public
.svelte-kit
build
build-node
build-static
**/build-node/
**/build-static/
.env
.env.*
**.env**
**/node_modules/**

frontend/node_modules
frontend/build-node
frontend/build-static