@reference "tailwindcss/theme";

html {
	scroll-behavior: smooth;
}

:target:before {
	content: '';
	display: block;
	height: 75px;
	margin: -75px 0 0;
}

a:focus {
	outline-color: var(--primary);
}

.nav-menu {
	position: relative;
}
.nav-menu:hover,
.nav-menu:focus-within,
.nav-menu ul.flyout li:hover,
.nav-menu ul.flyout li:focus-visible {
	background: rgba(255, 255, 255, 0.1);
}

.nav-menu:hover .flyout,
.nav-menu:focus-within .flyout {
	background: green;
	position: absolute;
	display: flex;
	visibility: visible;
	flex-direction: column;
	top: 100%;
	right: 0;
	transform: translateY(0);
}

.nav-menu-flyout {
	visibility: hidden;
	transition: all 250ms;
	transform: translateY(-100%);
	background: green;
	position: absolute;
	display: flex;
	visibility: visible;
	flex-direction: column;
	top: 100%;
	right: 0;
}

.nav-menu .menu-item {
	@apply h-full px-4 py-5 text-lg text-white;
	border: 1px solid transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
}

.nav-menu > button:focus-visible,
.nav-menu > a:focus-visible {
	border: 1px solid white;
	outline: 0;
}

a[aria-disabled='true'],
button[aria-disabled='true'] {
	opacity: 0.5;
	cursor: default;
	pointer-events: none;
}

dialog::backdrop {
	backdrop-filter: blur(3px);
	background: rgba(0, 0, 0, 0.4);
}

::view-transition-old(header-img),
::view-transition-new(header-img) {
	animation: none;
	mix-blend-mode: normal;
}

::view-transition-image-pair(header-img) {
	isolation: none;
}
